
<div class="container">
    <h2>Register</h2>
    <div *ngIf="registerForm">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && rf.firstName.errors }" />
                <div *ngIf="submitted && rf.firstName.errors" class="invalid-feedback">
                    <div *ngIf="rf.firstName.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && rf.lastName.errors }" />
                <div *ngIf="submitted && rf.lastName.errors" class="invalid-feedback">
                    <div *ngIf="rf.lastName.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="eMail">Email</label>
                <input type="text" formControlName="eMail" class="form-control" [ngClass]="{ 'is-invalid': submitted && rf.eMail.errors }" />
                <div *ngIf="submitted && rf.eMail.errors" class="invalid-feedback">
                    <div *ngIf="rf.eMail.errors.required">EMail is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="budget">MonthlyBudget</label>
                <input type="number" formControlName="budget" class="form-control" [ngClass]="{ 'is-invalid': submitted && rf.budget.errors }" />
                <div *ngIf="submitted && rf.budget.errors" class="invalid-feedback">
                    <div *ngIf="rf.budget.errors.required">budget is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="phoneNumber">PhoneNumber</label>
                <input type="number" formControlName="phoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && rf.phoneNumber.errors }" />
                <div *ngIf="submitted && rf.phoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="rf.phoneNumber.errors.required">phoneNumber is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    submit
                </button>
            </div>
        </form>
    </div>
</div>

